@import '~antd/lib/style/themes/default.less';

.text-right {
  float: right;
}

.item-info {
  padding: 6px 12px 6px 12px;
  border-bottom: 1px dashed #ebedf0;
  align-content: baseline;
}

.item-info:hover {
  background: #f0f0f0;
}

.item-info-span-title {
  display: inline-block;
  font-size: 0.8em;
}

.item-info-span-content {
  font-size: 1.1em;
  margin-left: 1em;
  color: limegreen;
}

.item-info .tooltips {
  // visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px;

  position: fixed;
  z-index: 10;
  left: 63%;
  top: 5%;
}

// .item-info:hover .tooltips {
//   visibility: visible;
// }
